.users {
width: 100%;
}

.table-container{
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: center;
}
.table {
  width:90%;
}

.agregar-container{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
