
.login {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.img{
  width: 30%;
  margin-bottom: 5%;
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 380px;
  height: 340px;
  border-radius: 6px;
  box-shadow: 1px 3px 9px -3px rgba(0,0,0,0.91);
}



.form-field{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
}

.form-field input{
  width: 100%;
}

.title {
  align-self: start;
  margin-left: 10%;
  margin-bottom: 0;
}
